|Hey Everyone,
br
br
|Professor Angela Ester Centenaro Mallmann is conducting research on social capital and crowdfunding, an important part of his Doctoral Thesis in Social Sciences from the University of Vale do Rio dos Sinos - UNISINOS / RS.
br
br
|The questionnaire is separated into two parts.
br
br
|The first part will serve to learn a little about the entrepreneurs funding the projects, and the second part will ask questions about your social life and project posted on EndlessCrowds, to identify the social capital involved. The purpose of this questionnaire is to investigate to what extent social capital is important for projects submitted for collaborative funding and is divided into five themes: trust, social networks, hierarchy, community, collaborative financing. We ask you to be as honest as possible. There are no right or wrong answers. The answers will be kept confidential, so do not ask for identification.
br
br
|Researcher: Angela Ester Mallmann Centenaro
br
|Advisor: Dr. Adriane Ferrarini  
br
|Co-supervisor: Dr. Paolo Totaro 
br
br
|Respond here: https://docs.google.com/forms/d/1v9IojrqbylkGTp7GavP-VWmL0indMMVhSfbd2PAYO5g/viewform?sid=b753330da3ecf29&token=c0aC9DwBAAA.IkLclf_oX6KyZnN_WLmqYw.z2lurT_ucfF2DnPXYJYDHw
br
br
|Many Thanks,
br
br
|Researcher: Angela Ester Mallmann Centenaro
br
|Advisor: Dr. Adriane Ferrarini
br
|Co-supervisor: Dr. Paolo Totaro  
