- project = @notification.project
|Hi, #{project.user.display_name},
br
br
|Unfortunately, your project did not reach the goal set by you on #{Configuration[:company_name]}.
br
br
|We know our service is not perfect, but we are working daily to improve it. One of the best ways to do this is by getting feedback from those who have experience with our platform, so, it would be great if you could answer these 2 questions to us on #{mail_to Configuration[:email_contact]}:
br
br
|1. What where the 2 worst difficulties you had in this process? (directly with #{Configuration[:company_name]} or with raising funds and project promotion, etc).
br
br
|2. What did you miss the most on #{Configuration[:company_name]}?
br
br
|Thank you very much! We are looking forward to see you again.
br
br
|A big hug,
br
br
|#{Configuration[:company_name]} Team
