#announcement
  = image_tag 'icon_alertheader.png'
  p= "Update your email now! Our login system is changing, #{link_to 'click here to learn more', 'https://endlesscrowds.zendesk.com/home', target: '_blank'}.".html_safe
  .clearfix
